html {
    min-height: 100%;
    position: relative;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #252525;
}

.navbar-default .navbar-brand {
    color: #1abc9c;
}

.navbar-default p.navbar-brand:hover {
    color: #1abc9c;
    text-shadow: 2px 2px 15px #adfcec;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}


/* footer */

.footer-padding {
    padding-bottom: 60px;
}

.footer {
    margin-top: 1rem;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #252525;
}

.footer p {
    margin-top: 25px;
    font-size: 1.5rem;
    color: #4ecfb5;
}

.footer p:hover {
    text-shadow: 2px 2px 20px #adfcec;
}

.form-label {
    font-size: 2rem;
    font-weight: 200;
}


/* home page */

.float {
    text-align: center;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 100px;
    right: 40px;
    background-color: #252525;
    color: #777;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgb(94, 95, 95);
    z-index: 1;
}

.float:hover {
    color: #adfcec;
}

a.float:hover {
    box-shadow: none;
}

.my-float {
    margin-top: 22px;
}


/* compose page */

.btn-custom {
    color: #777;
    background-color: #252525;
}

.btn-custom:hover {
    color: #adfcec;
}